<h1>Estudiantes</h1>
<table>
    <thead>
        <tr>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Apellido paterno</th>
            <th>Apellido materno</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>230945</td>
            <td>Antonio Asael</td>
            <td>Cisneros</td>
            <td>Gonzalez</td>
        </tr>
        <tr>
            <td>234985</td>
            <td>Jamila Itzel</td>
            <td>Cisneros</td>
            <td>Gonzalez</td>
        </tr>
    </tbody>
</table>